/* Google */

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
    padding-left: 2.6rem;
}

.loginBtn--google:before {
    border-right: white 0.5px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}